.wrapper {
  border: 1px solid white;
  margin: 0 0 15px 0;
}

.bg {
  background-color: white;
}

.el {
  color: white;
}

.el:after {
  content: attr(label);
  display: block;
  text-align: center;
  color: white;
  mix-blend-mode: difference;
  padding: 10px 200px;
  font-size: 30px;
  width: 350px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

@media (max-width: 768px) {
  .el:after {
    padding: 5px 100px;
    width: 200px;
  }
}

@media (max-width: 414px) {
  .el:after {
    padding: 5px 100px;
    font-size: 24px;
    width: 150px;
  }
}

@media (max-width: 280px) {
  .el:after {
    padding: 5px 100px;
    font-size: 16px;
    width: 50px;
  }
}
