/* .cube {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
} */

.cube img {
  width: 80%;
}

@media (max-width: 425px) {
  .cube img {
    width: 60%;
  }
}
