.line {
  width: 220px;
  border: 1px white solid;
  margin-top: 50px;
}

.presalemint {
  margin: 82px 60px;
}

.presalemint .cube {
  position: inherit;
  transform: none;
}

.pre-content {
  display: flex;
  margin-top: 10px;
  font-size: 24px;
  margin-bottom: 0px;
  color: grey;
}

@media only screen and (max-width: 1024px) {
  .pre-content {
    display: flex;
    margin-top: 150px;
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
  }
}

@media (max-width: 425px) {
  .presalemint {
    margin: 0;
  }
}
