.team {
  padding: 10em 0;

  .container {
    padding: 0 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .tmcontent {
    margin: 3% 2%;
    background-color: #3d3b3b;
    display: flex;
    border-radius: 20px;
    text-align: left;
    width: 20%;
    font-size: 20px;

    .flex {
      width: 35%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px;

      img {
        width: 100%;

        @media screen and (max-width: 768px) {
          width: 80%;
        }
      }
    }

    .text {
      padding: 0.5em 3px 1.5em 3px;
      line-height: 1em;

      h2{
        margin-bottom:0.5em;
        margin-top:0;
        padding-top: 1em;
      }
      p{
        color:#8e8e8e;
      }

      .children {
        a {
          margin-right: 1em;
        }
      }
    }
  }

  @media screen and (max-width: 1680px) {
    .tmcontent {
      width: 25%;
    }
  }

  @media screen and (max-width: 1440px) {
    .tmcontent {
      width: 30%;
    }
  }

  @media screen and (max-width: 1152px) {
    .tmcontent {
      width: 40%;
    }
  }

  @media screen and (max-width: 768px) {
    .tmcontent {
      width: 60%;
      font-size: 16px;
    }
  }

  @media screen and (max-width: 600px) {
    .tmcontent {
      width: 80%;
    }
  }

  @media screen and (max-width: 412px) {
    .tmcontent {
      font-size: 12px;
    }
  }
}
