.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 720px) {
  .paper {
    width: calc(100% - 20px);
  }
}

.paper {
  background-color: white;
  width: 500px;
  outline: none;
}

.paper .heading {
  width: 100%;
  height: 60px;
  background: black;
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-family: bold;
  font-weight: 600;
}

.paper .heading > img {
  height: 36px;
  margin-left: 36px;
  margin-right: 26px;
}

@media screen and (max-width: 720px) {
  .paper .heading {
    justify-content: center;
  }

  .paper .heading > img {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .content {
    padding: 10px;
  }
}

.content {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content .button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #000 !important;
  padding: 10px 10px !important;
  height: 72px;
  text-transform: none;
  font-size: 18px;
  border: 2px solid transparent;
}

.content .button.selected {
  border: 2px solid black;
}

.content .button img {
  height: 50px;
  margin-right: 20px;
}

.content .button .inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 500;
}

.content .button .inner > small {
  font-weight: 400;
  color: gray;
  font-size: 15px;
}

@media screen and (max-width: 720px) {
  .content .button .inner {
    display: none;
  }
}

.content .button:last-child {
  margin-top: 10px;
}

.content .disconnect {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
