body {
  background-color: #171516;
  color: white;
  font-size: 18px;
  line-height: 1.4;
}

.App {
  text-align: center;
}

.mobile-style {
  display: none;
}

.wallet-info {
  display: flex;
}

@media only screen and (max-width: 1024px) {
  .pc-style {
    display: none;
  }
}

header {
  position: relative;
  display: flex;
  z-index: 100;
}

.header-l {
  position: fixed;
  top: 50px;
}

.header-r {
  position: fixed;
  top: 40px;
  right: 50px;
}

.balance {
  font-size: 30px;
  margin-left: 50px;
  color: grey;
}
header img {
  width: 100%;
}

.connect-wallet {
  text-decoration: none;
  color: black;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 30px;
  font-size: 16px;
}

.connect-wallet p {
  font-size: 20px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div {
  position: fixed;
  display: flex;
  z-index: 100;
  bottom: 50px;
  right: 50px;
}
footer a {
  margin: 0 15px;
}
footer img {
  width: 100%;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
  }

  .header-r {
    position: fixed;
    top: 120px;
    right: inherit;
  }

  .balance {
    margin: 0 25px;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  footer div {
    right: inherit;
  }
}

@media (max-width: 768px) {
  footer img {
    width: 80%;
  }
}

@media (max-width: 414px) {
  .header-l {
    padding: 0 40px;
  }

  .wallet-info {
    display: block;
    text-align: center;
  }
}
