body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(https://uc24042ce7ca744c76c282a21165.previews.dropboxusercontent.com/p/thumb/ABcKYj_8KIiiOQHh5udvwUnv410S1eTm8Tc7lHJ8bF1JzSmBu1cTfRYg_ZY_67zwCY_lAC7Wk2nkvv5QLYiAEbMzrGLP4GozzoLNfRowjxG9302FY20bkoEz_H6b89UL3X5S-P8v2XGsEgwUByPeagMomLPxhHCIfq1wCL6Cs_Q1DPQhxkPALT_SIBQEBWK6xyq1ALPnCyuzcvnU8uWMuE-pPxssAM5eZ7k14-z57aKw6mc6SRwrMybo_Uxjr4LwpBaxCYGQix5T7yp9gtHsk_xR90A2sRYN_0H3KRR18wWFGdbw_hc4WmJdpUxrVSQPCPOVuSpNG9Px5hlXLW0ODIvZWWykaz3qiqksrzXMmYe3Mv2hVMQatkvoCZ1Kmn3g0JY4T_MSmBSzaXSatvjjUJ6YMCQEWKufQrwFH7MJB3HK60zJRJoP-3mwZjc1vSwo9bAQW5HwfcvNKErJaDWLiXifdJwqpe6sOkVc1eSF-elYji4DkQCvBxaBECCGx-0DP82qPM_GWVQXco5mQxxslsCzkpy_bJDvzewooab5Cimvc9icbUazlKRtxwXElg0lI8mb1xyLb5BGUoZ9z4LWU38T_qE-YuOR0H2Sdlvj7afQ6orbH5SI9xUpw88VgTT89NV8DNKXjzJy_YAfM4rQ6JewEurO_eXTsl9UT5SsrWIZOYGVOCqu87-JV2xdPvgApJV0pSK8DPr2vbzSyVloojlioTSKUYgR0ZeDVHQwiBtF4QglEQbBLS87y7kAb3N8_P9_k1qyyRLkVyOpsVCDEI4pe341IPQIbWOS7_e1s3pce16ZsnE-gSmRFqqRg9MZwbtpj7BwcG4mW8z101qLNDAtO1erqOTFXz_bqLvtCTufx1NsoM6_We76ZN59dbtaJs_A1RV-KfIznpydAz_LgI4Tns1KCAPED3M6ePjUGLj7PsvSi6evRNZROUax--5Y3xtCGF9zg3Mzfp7Yfm-7X7w9ji7lHQExXtlS7j-YDo8jNVXxIFvw0cJIiPAVijsGPeiRGiJzd3zXZ9eQoTO1GbJ3QJEtq2WIMKbAMd3wATD2r-lI3OVtsDlTMGPSWuE-m3dP3uWFlItWh9UaVFiAyPihxKolPQ53BbM6SBnw0EVnBxw9TBh6HuyQ2RqbH_VDYrZXThj_uK012fxHwXVWPXdR8gy9wydTeZzoU12vVPTJGS9nIw25xJCYLZcVcZawmtCJU5ZUJAya2RgIIf5vX2kg6XebWfdrtqtp3mWyJjmFVasToMEh7EnHUbrBmqlrH60/p.gif);
  background-size: cover;
  background-attachment: fixed;
}

#video {
  /* width: 100vw; */
  /* height: 100vh; */
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

@font-face {
  font-family: "Kasumi";
  src: local("Kasumi"), url(./fonts/Kasumi_Regular.otf) format("opentype");
}

@font-face {
  font-family: "Agency";
  src: local("Agency"), url(./fonts/Agency.ttf) format("truetype");
}

@font-face {
  font-family: "AgencyR";
  src: local("AgencyR"), url(./fonts/agencyr.ttf) format("truetype");
}

.kasumi {
  font-family: "Kasumi";
}

.agency {
  font-family: "Agency";
}

.agencyr {
  font-family: "AgencyR";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.center {
  justify-content: center;
}

.img-size {
  width: 20%;
}

@media (max-width: 1024px) {
  .img-size {
    width: 30%;
  }
}

@media (max-width: 500px) {
  body {
    height: 100vh;
  }

  .cube {
    margin-left: 10px;
  }

  footer a {
    text-align: center;
  }

  .img-size {
    width: 50%;
  }
}
