body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(./img/Background.png);
  background-size: cover;
  background-attachment: fixed;
}

#video {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
}

@font-face {
  font-family: "Kasumi";
  src: local("Kasumi"), url(./fonts/Kasumi_Regular.otf) format("opentype");
}

@font-face {
  font-family: "Agency";
  src: local("Agency"), url(./fonts/Agency.ttf) format("truetype");
}

.kasumi {
  font-family: "Kasumi";
}

.agency {
  font-family: "Agency";
}

.flex {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.center {
  justify-content: center;
}

.cube {
  /* display: flex; */
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 10;
}
.img-size {
  width: 30%;
}

@media (max-width: 500px) {
  body {
    padding: 50px 10px 0 10px;
  }

  .cube {
    margin-left: 10px;
  }
}
